.rando {
  background-color: black;
  color: white;
  position: relative;
  text-transform: lowercase;
}

body {
  padding: 10px;
  background-color: black !important;
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-size: 4em !important;
}

input {
  color: black !important;
}

a {
    color: #428BCA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}