.rando {
  background-color: black;
  color: white;
  position: relative;
  text-transform: lowercase;
}

body {
  padding: 10px;
  background-color: black !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 4em;
}

h1 {
  font-size: 4em !important;
}

form {
  margin: 0 auto;
  display: block;
  text-align: center;
}

#address {
  color: black !important;
  width: 80%;
  padding: 20px 20px;
  text-align: center;
  /*margin-top: 50px;
  margin-bottom: 15px;*/
}

#slider {
  width: 80%;
  margin: 20px auto;
}

input {
  color: black !important;
  text-align: center;
}

#submit {
  width: 30%;
}

a {
    color: white !important;
    text-decoration: none;
}

a:hover, a:focus {
    color: white !important;
    text-decoration: underline;
}

::-webkit-input-placeholder {
   color: grey;
}

#result {
  padding-top: 30px;
  text-align: center;
  font-size: 8vw;
}

#blurb, #blurb2 {
  font-size: 5vw;
}

#input_container { 
  position:relative; 
  padding:0;
  margin:0; 
}

i {
  position: aboslute;
  cursor: pointer;
}
/*i {
  height: 50px;
}*/

/*i { 
  position:absolute; 
  bottom:8px; 
  right:40px;
  z-index: 10;
  background-color: black;
  width: 50px; 
  cursor: pointer;
}*/
/*
i {
  background-color: white;
}*/